@model Lab3_test4.Models.FormModel
@{ ViewData["Title"] = "Form-Error"; }



<h1 class="display-4">Formularz</h1>
<div class="row">
    Podana ilosc powtorzen nie nalezy do przedzialu od 1 do 5
</div>